.editorial {
  padding: 50px 10px;

  @include media(">=tablet") {
    padding: 80px 20px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-sub {
      @include media(">=tablet") {
        font-size: var(--font-200);
      }
    }

    &-main {
      line-height: 1;
      font-weight: 400;
      font-size: var(--font-300);
      margin-bottom: 50px;

      @include media(">=tablet") {
        font-size: var(--font-400);
      }
    }
  }

  &__stories {
    & .story {
      margin-bottom: 50px;
    }

    @include media(">=tablet") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px 20px;
      margin-bottom: 80px;

      & .story {
        margin-bottom: 0;
      }
    }
  }
}
