// Fonts
$system-font: "-apple-system", "BlinkMacSystemFont", "avenir next", "avenir",
  "segoe ui", "helvetica neue", "helvetica", "Cantarel", "Ubuntu", "roboto",
  "noto", arial, sans-serif;

// Colors
$color-gray: rgb(222, 222, 222);
$color-white: #fff;
$color-p-bg: #f2f4f2;
