// Nueuhass-Grotesk: 400.
@font-face {
  font-family: "NeuehaasGrotesk";
  src: url("../assets/fonts/Neue-Haas-Grotesk.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
